<div class ="container">
            <app-turret></app-turret> <app-turret></app-turret> <app-turret></app-turret><app-turret></app-turret>
            <app-turret></app-turret>   <app-turret></app-turret><app-turret></app-turret><app-turret></app-turret>
            <app-turret></app-turret> <app-turret></app-turret> <app-turret></app-turret><app-turret></app-turret>
            <app-turret></app-turret><app-turret></app-turret><app-turret></app-turret><app-turret></app-turret>
    <div class="laser-cannon">
            <app-laser-cannon></app-laser-cannon>
    </div>
 
   
</div>
<app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter><app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>